@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');:root {
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 20%);
    --color-darkgrey: hsl(0, 0%, 12%);
    --color-offblack: hsl(0, 0%, 8%);
    --color-blue: #007BFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: var(--color-offblack);
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-white);
}

a {
    color: var(--color-white);
}

a:hover {
    opacity: .8;
}

a:visited {
    color: var(--color-blue);
}

a:active {
    color: var(--color-blue);
}

i {
    background-color: var(--color-grey);
    padding: 5px;
    border-radius: 12px;
}

i:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.main-nav-container {
    width: 100%;
    height: auto;
    background-color: var(--color-darkgrey)
}

#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    color: var(--color-blue);
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 100px; 
}

#nav-links span {
    padding: 10px 30px; 
}

#nav-links span:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: ease-in .3s;
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: var(--color-white);
    }

.typing-text1, .typing-text2, .typing-text3 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    display: inline-block;
}

.active {
    visibility: show;
}

.hidden {
    display: none;
}

.main-container {
    height: auto;
    width: 80%;
    background-color: var(--color-darkgrey);
    margin: 0 auto;
    padding: 10px;
    border-radius: 12px;
    max-width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.header-container {
    width: 80%;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    justify-items: center;
    padding: 10px;
    margin: 0 auto;
}

.header-container h1 {
    color: var(--color-white);
    font-family: "Oswald", Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
    padding-bottom: 15px;
}

.header-container img {
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--color-blue)
}

.socials {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}

.socials ul {
    display: flex;
    justify-content: space-between;
}

#about-container {
    padding: 10px; 
    font-family: "Manrope", Arial, sans-serif;
}

#about-container div {
    background-color: var(--color-grey);
    border-radius: 12px;
    margin: 10px 0; 
    padding: 10px; 
}

#contact-container {
    padding: 10px;
    background-color: var(--color-grey);
    border-radius: 12px;
    font-family: "Manrope", Arial, sans-serif;
    width: 80%;
    margin: 10px 0;
    text-align: center;
}

#contactForm {
    display: grid;
    grid-template-rows:repeat(9, 1fr);
    gap: 10px;
    width: 100%;
}

#contactForm label {
    font-size: 1.1rem;
    text-align: left;
    margin: 0 10px;
    
}




