@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');:root {
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 20%);
    --color-darkgrey: hsl(0, 0%, 12%);
    --color-offblack: hsl(0, 0%, 8%);
    --color-aqua: hsl(167, 94%, 57%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: var(--color-offblack);
    font-size: 18px;
    line-height: 1.4;
    color: var(--color-white);
}


.main-nav-container {
    width: 100%;
    height: auto;
    background-color: var(--color-darkgrey)
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    color: var(--color-aqua);
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 700;
}

.nav-links p {
    padding: 10px; 
}

.nav-links p:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: ease-in .3s;
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: var(--color-white);

}
